<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-theme="home-3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="NextAi is a powerful SaaS, AI, and tech startup template designed for innovative businesses. Launch your digital products with a responsive, high-performance layout optimized for startups, software, and AI-based tech solutions. Perfect for showcasing apps, tech services, and advanced digital solutions with sleek design and robust functionality">
    <meta name="keywords"
        content="SaaS template, AI startup template, tech startup template, NextAi template, digital product template, software landing page, responsive tech template, SaaS website design, AI tech solutions, startup landing page, tech website template, SaaS UI design, SaaS and AI template, modern tech template">
    <meta name="author" content="bplugins">
    <title>NextAi - SAAS Website Flow</title>
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/simplebar.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="assets/css/ff-1.css">
    <link rel="stylesheet" href="assets/css/ff-2.css">
    <link rel="stylesheet" href="assets/css/prism.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="bg-black">
    <nav
        class="navbar navbar-expand-lg primary-header primary-header--transparent-light-alt primary-header--fixed top-lg-12 primary-header-crossed:top-0">
        <div class="container align-items-lg-center">
            <a class="logo" href="/">
                <img src="assets/img/logo-light.png" alt="image" class="logo__img logo__img--light">
                <img src="assets/img/logo-light.png" alt="image" class="logo__img logo__img--dark">
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar0"
                aria-controls="navbar0" aria-expanded="false" aria-label="Toggle navigation">
                <iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
            </button>
            <div class="collapse navbar-collapse" id="navbar0">
                <ul class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0">
                    <li class="nav-item navigation-0">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item  navigation-1">
                        <a class="nav-link" aria-current="page" href="">About</a>
                    </li>
                    <li class="nav-item  navigation-1">
                        <a class="nav-link" aria-current="page" href="/pricing">Pricing</a>
                    </li>

                    <li class="nav-item  navigation-1">
                        <a class="nav-link" aria-current="page" href="">Blog</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center gap-3 ms-lg-auto">
                    <a href="/user/signup"
                        class="btn btn-sm btn-primary order-lg-2  text-dark fw-semibold rounded-pill "> Sign Up </a>
                    <div class="dropdown dropdown-modifier dropdown-xsm order-lg-1 theme-settings">
                        <button class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1"
                            type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <iconify-icon id="themeDropdownIcon" icon="bi:sun"></iconify-icon>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center gap-2 fs-14"
                                    id="lightTheme">
                                    <span class="d-block flex-shrink-0">
                                        <iconify-icon icon="bi:sun"></iconify-icon>
                                    </span>
                                    <span class="d-block flex-grow-1"> Light </span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center gap-2 fs-14"
                                    id="darkTheme">
                                    <span class="d-block flex-shrink-0">
                                        <iconify-icon icon="bi:moon-stars"></iconify-icon>
                                    </span>
                                    <span class="d-block flex-grow-1"> Dark </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="preloader">
        <div class="preloader__content">
            <img src="assets/img/logo-light.png" alt="logo" class="img-fluid preloader__img">
        </div>
    </div>