<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NextAi is a powerful SaaS, AI, and tech startup template designed for innovative businesses. Launch your digital products with a responsive, high-performance layout optimized for startups, software, and AI-based tech solutions. Perfect for showcasing apps, tech services, and advanced digital solutions with sleek design and robust functionality">
    <meta name="keywords" content="SaaS template, AI startup template, tech startup template, NextAi template, digital product template, software landing page, responsive tech template, SaaS website design, AI tech solutions, startup landing page, tech website template, SaaS UI design, SaaS and AI template, modern tech template">
    <meta name="author" content="bplugins">
    <title>NextAi - SAAS login</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/simplebar.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/css/ff-1.css">
    <link rel="stylesheet" href="/assets/css/ff-2.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="preloader">
        <div class="preloader__content">
            <img src="/assets/img/logo-light.png" alt="logo" class="img-fluid preloader__img">
        </div>
    </div>
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <!-- Sign In -->
            <div class="p-4 p-md-8 bg-body-tertiary">
                <div class="container-fluid authentication-page--container">
                    <div class="row g-4 authentication-page">
                        <div class="col-xl-6 authentication-page__left">
                            <div class="authentication-page__left-content">
                                <span class="badge text-bg-primary align-items-center mb-3">
                                    <iconify-icon icon="solar:check-circle-bold-duotone" class="fs-14"></iconify-icon>
                                    <span class="d-inline-block flex-grow-1"> Join Us Now </span>
                                </span>
                                <h3>Start your Journey</h3>
                                <p class="mb-8 fs-18 fw-medium"> worldwide annual spend on digital advertising surpassing </p>
                                <div class="row g-3 g-xxl-4 justify-content-center">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="d-flex flex-column justify-content-start gap-6 bg-body rounded-3 p-4 p-md-6 p-xl-8 h-100">
                                            <div class="d-grid place-content-center w-9 h-9 rounded-circle bg-primary-subtle text-primary-emphasis fs-14 fw-semibold"> 01 </div>
                                            <p class="mb-0 fs-14 fw-semibold text-heading"> Register your Account </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="d-flex flex-column justify-content-start gap-6 bg-body rounded-3 p-4 p-md-6 p-xl-8 h-100">
                                            <div class="d-grid place-content-center w-9 h-9 rounded-circle bg-primary-subtle text-primary-emphasis fs-14 fw-semibold"> 02 </div>
                                            <p class="mb-0 fs-14 fw-semibold text-heading"> Set up profile info </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="d-flex flex-column justify-content-start gap-6 bg-body rounded-3 p-4 p-md-6 p-xl-8 h-100">
                                            <div class="d-grid place-content-center w-9 h-9 rounded-circle bg-primary-subtle text-primary-emphasis fs-14 fw-semibold"> 03 </div>
                                            <p class="mb-0 fs-14 fw-semibold text-heading"> Verify your identity </p>
                                        </div>
                                    </div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="411" height="456" viewBox="0 0 411 456" fill="none" class="position-absolute z-n1 top-4 start-4">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M262.402 128.435C381.305 -9.71359 497.341 194.632 319.704 227.73C497.341 262.268 379.873 465.174 262.402 327.024C322.569 499.71 89.0618 498.272 149.23 327.024C30.3268 465.174 -85.7107 262.268 91.927 227.73C-87.1433 194.632 30.3268 -8.27457 149.23 128.435C87.6293 -42.8118 322.569 -42.8118 262.402 128.435ZM205.099 201.828C219.426 201.828 232.318 213.34 232.318 227.73C232.318 242.121 219.426 255.073 205.099 255.073C190.774 255.073 179.312 242.121 179.312 227.73C179.312 213.34 190.774 201.828 205.099 201.828Z" fill="#F3EAFC" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="912" height="962" viewBox="0 0 912 962" fill="none" class="position-absolute z-n1 end-0 bottom-0">
                                    <g filter="url(#filter0_f_8073_1884)">
                                        <path d="M834.091 503.3C878.986 441.838 942.876 300 1030.21 300C1103.3 300 1090.96 513.811 963.36 691.108C667.875 1036.14 450.745 1052 254.626 1052C58.5073 1052 -26 952.451 -26 890.989C-26 829.526 33.0707 742.059 352.062 742.059C671.05 742.059 789.196 564.763 834.091 503.3Z" fill="#6328FF" fill-opacity="0.4" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_f_8073_1884" x="-326" y="0" width="1701" height="1352" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_8073_1884" />
                                        </filter>
                                    </defs>
                                </svg>
                                <div class="authentication-page__glass-container d-flex position-absolute inset-0 z-n1">
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                    <div class="authentication-page__glass"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 authentication-page__right">
                            <div class="authentication-page__right-content">
                                <div class="mb-6">
                                    <a href="index-2.html" class="link d-inline-block">
                                        <img src="/assets/img/pixellyo-icon.png" alt="image" class="img-fluid">
                                    </a>
                                </div>
                                <p class="mb-1 text-heading fw-semibold">Welcome !</p>
                                <h4>Sign in to</h4>
                                <p class="mb-0">Get Started with 10,000 Free Words</p>
                                <div class="section-space-xsm-y">
                                    <form action="/user/login" method="post" class="row g-4 align-items-center">
                                        <div class="col-12">
                                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                                        </div>
                                        <div class="col-12">
                                            <input type="password" name="password" class="form-control" placeholder="Pasword" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check form-check--primary form-check-modifier">
                                                <input class="form-check-input" type="checkbox" value="" id="remember-me">
                                                <label class="form-check-label" for="remember-me"> Rememebr Me </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-sm-end">
                                            <a href="#" class="link d-inline-block text-body hover:text-primary">Forgot Password ?</a>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary w-100 justify-content-center"> Sign In Now </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="overflow-hidden text-center">
                                    <span class="d-inline-block position-relative fs-14 z-1 text-splash text-splash--dark-subtle"> Or Login With </span>
                                </div>
                                <ul class="list list-row justify-content-center flex-wrap gap-4 my-4">
                                    <li>
                                        <button type="button" class="btn btn-light shadow align-items-center">
                                            <iconify-icon icon="logos:facebook" class="align-middle fs-20 flex-shrink-0"></iconify-icon>
                                            <span class="d-inline-block fs-14 fw-medium flex-grow-1"> Facebook </span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-light shadow align-items-center">
                                            <iconify-icon icon="logos:google-icon" class="align-middle fs-20 flex-shrink-0"></iconify-icon>
                                            <span class="d-inline-block fs-14 fw-medium flex-grow-1"> Google </span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-light shadow align-items-center">
                                            <iconify-icon icon="logos:apple" class="align-middle fs-20 flex-shrink-0"></iconify-icon>
                                            <span class="d-inline-block fs-14 fw-medium flex-grow-1"> Apple </span>
                                        </button>
                                    </li>
                                </ul>
                                <p class="mb-0 text-center"> Don't have an Account ? <a href="/user/signup" class="link d-inline-block fw-medium text-primary hover:text-primary-emphasis">Register</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign In End -->
        </div>
    </div>
    <!-- Scripts -->
    <script src="/assets/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/iconify.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/swiper.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/gsap.min.js"></script>
    <script src="/assets/js/ScrollTrigger.min.js"></script>
    <script src="/assets/js/Flip.min.js"></script>
    <script src="/assets/js/DrawSVGPlugin.min.js"></script>
    <script src="/assets/js/SplitText.min.js"></script>
    <script src="/assets/js/ScrollSmoother.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>